<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv=Content-Type content="text/html;charset=utf-8"/>
    <title>{$title} - {$settings.shopname}</title>
    <link href="favicon.ico" rel="Shortcut Icon"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
    <meta name="format-detection" content="telephone=no"/>
    <link href="{$docroot}public/static/css/wshop/wshop_vproduct.css" type="text/css" rel="Stylesheet"/>
</head>
<body>

<input type="hidden" value="{$comid|default=0}" id="comid"/>
<input type="hidden" value="{$productInfo.product_name}" id="sharetitle"/>
<input type="hidden" value="{$productid|default=0}" id="iproductId"/>
<input type="hidden" value="{$productInfo.market_price|sprintf="%.2f",###}" id="mprice"/>

<!-- touchslider -->
<div class="touchslider" id="touchslider">
    <div class="touchslider-viewport">
        {volist name="images" id="item"}
            <div class="touchslider-item">
                <img style="max-width: 100%;"
                     data-big="{$item.image_path}"
                     src="{$item.image_path}"/>
            </div>
        {/volist}
    </div>
    <div class="touchslider-nav">
        {volist name="images" id="item"}
            <span class="touchslider-nav-item"></span>
        {/volist}
    </div>
</div>
<script type="text/javascript">document.querySelector('#touchslider').style.height = document.documentElement.clientWidth + 'px';</script>
<!-- touchslider -->

<div id="container">
    {eq name="productInfo['product_online']" value="1"}
        <div class="uc-add-like{if $isLiked} fill{/if}">收藏</div>
        <p class="vpd-title" style='height:auto;'>
            {$productInfo.product_name}
        </p>
        <p class="vpd-subtitle">{$productInfo.product_subtitle}</p>
    {/eq}

    {eq name="productInfo['product_online']" value="1"}
        
        <!-- 价格显示 -->
        {eq name="productInfo.product_prom" value="1"}
            <dl class="pd-dsc clearfix">
                <dt>市场价：</dt>
                <dt id="pd-market-price"
                    class="prices marketPrice">&yen;{$productInfo.market_price|sprintf="%.2f",###}</dt>
            </dl>
            <dl class="pd-dsc clearfix">
                <dt>零售价：</dt>
                <dt class="prices marketPrice"
                    id="pd-market-price2">&yen;{($productInfo.sell_price)|sprintf="%.2f",###}</dt>
            </dl>
            <dl class="pd-dsc clearfix">
                <dt>秒杀价：</dt>
                <dt class="prices" id="pd-sale-price">
                    &yen;{php}echo (sprintf("%.2f", $product['sale_prices'] * ($product['product_prom_discount'] / 100)));{/php}
                </dt>
            </dl>
            <dl class="pd-dsc clearfix">
                <dt>截止时间：</dt>
                <dt>{$productInfo.product_prom_limitdate}</dt>
            </dl>

        {else /}

            {neq name="productInfo.sale_prices" value="0.00"}

                {gt name="productInfo.market_price" value="0"}
                    <dl class="pd-dsc clearfix">
                        <dt>市场价：</dt>
                        <dt id="pd-market-price"
                            class="prices marketPrice">&yen;{$productInfo.market_price|sprintf="%.2f",###}</dt>
                    </dl>
                {/gt}
    
                {eq name="discount" value="1"}
                    <dl class="pd-dsc clearfix">
                        <dt>零售价：</dt>
                        <dt class="prices" id="pd-sale-price">
                            &yen;{$productInfo['sell_price']*$discount|sprintf="%.2f",###}
                        </dt>
                    </dl>
                {else /}
                    <dl class="pd-dsc clearfix">
                        <dt>零售价：</dt>
                        <dt class="prices marketPrice"
                            id="pd-market-price2">&yen;{$productInfo.sale_prices|sprintf="%.2f",###}</dt>
                    </dl>
                    <dl class="pd-dsc clearfix">
                        <dt>专享价：</dt>
                        <dt class="prices"
                            id="pd-sale-price">&yen;{$productInfo['sell_price']*$discount|sprintf="%.2f",###}</dt>
                    </dl>
                {/eq}

            {/neq}

            {if condition="$prominfo"}
                <dl class="pd-dsc clearfix">
                    <dt>促销：</dt>
                    <dt class="prominfo">
                        <b>红包</b>满{$prominfo.req_amount}减{$prominfo.dis_amount}
                    </dt>
                </dl>
            {/if}

        {/eq}

        <!-- 价格显示 -->
        {neq name="specsDistinct['a']['spd1name']" value=""}
            <div>
                {eq name="productInfo['product_prom']" value="1"}
                    {volist name="specs" id="sp"}
                        <input type='hidden' class='spec-hashs' data-stock="{$sp.instock}"
                               value='{$sp.spec_det_id1}-{$sp.spec_det_id2}'
                               data-price="{php}echo (sprintf("%.2f", $sp['sale_price'] * ($productInfo['product_prom_discount'] / 100)));{/php}"
                               data-market-price="{$sp.market_price}" data-id="{$sp.id}"/>
                    {/volist}
                {else /}
                    {volist name="specs" id="sp"}
                        <input type='hidden' class='spec-hashs' data-stock="{$sp.instock}"
                               value='{$sp.spec_det_id1}-{$sp.spec_det_id2}'
                               data-price='{$sp.sale_price*$discount|sprintf="%.2f",###}'
                               data-market-price="{$sp.market_price}" data-id="{$sp.id}"/>
                    {/volist}
                {/eq}
            </div>
            <dl class="pd-dsc clearfix" id="pd-dsc1" style='margin-top:8px;'>
                <dt class="left">{$specs[0]['spd1name']}：</dt>
                <dt>
                <div class='pd-spec-dets clearfix'>
                    {volist name="specsDistinct['a']['sps']" id="sp"}
                        <div class='pd-spec-sx enable' href='javascript:;'
                             data-det-id='{$sp.spec_det_id1}'>{$sp.det_name1}</div>
                    {/volist}
                </div>
                </dt>
            </dl>
        {/neq}
        {neq name="specsDistinct['b']['spd2name']" value=""}
            <dl class="pd-dsc clearfix" id="pd-dsc2">
                <dt class="left">{$specs[0]['spd2name']}：</dt>
                <dt>
                <div class='pd-spec-dets clearfix'>
                    {volist name="specsDistinct['b']['sps']" id="sp"}
                        <div class='pd-spec-sx enable' href='javascript:;'
                             data-det-id='{$sp.spec_det_id2}'>{$sp.det_name2}</div>
                    {/volist}
                </div>
                </dt>
            </dl>
        {/neq}

        <!-- 显示商家信息 -->
        

        <!-- 显示库存量 -->
        <dl class="pd-dsc clearfix hidden" id="product_stock_wrap">
            <dt>库存量：</dt>
            <dt id="pd-stock">{$productInfo.product_instocks}</dt>
        </dl>

    {else /}

        <!-- 下架信息 -->
        <div id='productOffline'>对不起，该商品已下架</div>

    {/eq}
</div>

{eq name="productInfo['product_online']" value="1"}
    <header class="Thead" id="vpd-detail-header">产品详情</header>
    <div id="vpd-content" class="notload">下拉加载详细介绍</div>
{/eq}

<!-- 随便逛逛 -->
{notempty name="$slist"}
    <header class="Thead">随便逛逛</header>
    <div id="pd-recoment">
        <div class='pd-box clearfix'>
            {volist name="slist" id="sl"}
                <a class="slist-item" href="{$docroot}?/vProduct/view/id={$sl.product_id}&showwxpaytitle=1">
                    <div class='pd-box-inner'>
                        <img src="{$sl.catimg}"
                             alt='{$sl.product_name}'/>
                        <p class='Elipsis'>{$sl.product_name}</p>
                    </div>
                </a>
            {/volist}
        </div>
    </div>
{/notempty}

<!-- 加入购物车 -->
<div id="appCartWrap" class="clearfix">
    {eq name="productInfo['product_online']" value="1"}
        {eq name="productInfo['product_prom']" value="0"}
            <a class="button" id="addcart-button" data-prom="{$productInfo.product_prom}" data-add="1">加入购物车</a>
        {/eq}
        <a class="button" id="buy-button" data-prom="{$productInfo.product_prom}" data-add="0"
        {eq name="productInfo['product_prom']" value="0"}style="width: 99%;"{/eq}>立即购买</a>
    {else /}
        <a class="button disable">已下架</a>
    {/eq}
    <a id="toCart" href="?/Order/Cart/"><i>0</i></a>
</div>

<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>

<script type="text/javascript">

    var productId = {$productid|default=0};
    var comId = parseInt({$comid|default=0});

    wx.config({
        debug: false,
        appId: '{$signPackage.appId}',
        timestamp: {if condition="$signPackage['timestamp']"}{$signPackage.timestamp}{else /}0{/if},
        nonceStr: '{$signPackage.nonceStr}',
        signature: '{$signPackage.signature}',
        jsApiList: ['previewImage', 'onMenuShareTimeline', 'onMenuShareAppMessage']
    });

    if (comId > 0) {
        var link = "http://" + window.location.host + "/?/vProduct/view/id=" + productId + "&showwxpaytitle=1&comid=" + comId;
    } else {
        var link = "http://" + window.location.host + "/?/vProduct/view/id=" + productId + "&showwxpaytitle=1";
    }

    wx.ready(function () {
        wx.onMenuShareTimeline({
            title: '{$productInfo.product_name}',
            link: '',
            imgUrl: '{$productInfo.catimg}',
            success: function () {

            }
        });
        wx.onMenuShareAppMessage({
            title: '{$productInfo.product_name}',
            desc: '{$productInfo.product_name}',
            link: link,
            imgUrl: '{$productInfo.catimg}',
            success: function () {

            }
        });
    });


</script>

<script data-main="{$docroot}public/static/script/weshop/shop_vproduct.js"
        src="http://apps.bdimg.com/libs/require.js/2.1.9/require.min.js"></script>
</body>
</html>