<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv=Content-Type content="text/html;charset=utf-8"/>
    <title>{$title} - {$settings.shopname}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link href="{$docroot}public/static/css/wshop_uc.css" type="text/css" rel="Stylesheet"/>
    <script type="text/javascript" src="{$docroot}public/static/script/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{$docroot}public/static/script/weshop/main.js"></script>
</head>
<body style='background: #f7f7f7;'>

<input type="hidden" value="{$status}" id="status"/>

<div class='clearfix' id='uc-order-sort-bar'>
    <div class='uc-order-sort {eq name="status" value=""}hover{/eq}' data-status=""><b>全部</b></div>
    <div class='uc-order-sort {eq name="status" value="unpay"}hover{/eq}' data-status="unpay"><b>待付款</b></div>
    <div class='uc-order-sort {eq name="status" value="payed"}hover{/eq}' data-status="payed"><b>待发货</b></div>
    <div class='uc-order-sort {eq name="status" value="delivering"}hover{/eq}' data-status="delivering"><b>待收货</b></div>
    <div class='uc-order-sort {eq name="status" value="received"}hover{/eq}' data-status="received"><b>待评价</b></div>
</div>

<div id="uc-orderlist"></div>
<div id="list-loading" style="display: none;"><img src="{$docroot}public/static/images/icon/spinner-g-60.png" width="30"></div>


<!-- 微信JSSDK -->
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>

<script type="text/javascript">
    window.onload = function () {
        wx.config({
            debug: true,
            appId: '{$signPackage.appId}',
            timestamp: {$signPackage.timestamp},
            nonceStr: '{$signPackage.nonceStr}',
            signature: '{$signPackage.signature}',
            jsApiList: ['chooseWXPay']
        });
    }

</script>

<script data-main="{$docroot}public/static/script/weshop/shop_orderlist.js"
        src="http://apps.bdimg.com/libs/require.js/2.1.9/require.min.js"></script>

</body>
</html>