</body>
<script type="text/javascript" src="{$docroot}public/static/script/lib/jquery.datetimepicker.full.min.js"></script>
<script type="text/javascript" src="{$docroot}public/static/script/lib/lobibox/lobibox.js"></script>
<script type="text/javascript" src="{$docroot}public/static/script/lib/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="{$docroot}public/static/script/lib/jqPaginator.min.js"></script>
<script type="text/javascript" src="{$docroot}public/static/script/admin/service/order_service.js"></script>
<script type="text/javascript" src="{$docroot}public/static/script/admin/service/user_service.js"></script>
<script type="text/javascript" src="{$docroot}public/static/script/admin/service/util_service.js"></script>
<script type="text/javascript" src="{$docroot}public/static/script/admin/service/feedback_service.js"></script>
<script type="text/javascript" src="{$docroot}public/static/script/admin/service/company_service.js"></script>
<script type="text/javascript" src="{$docroot}public/static/script/admin/service/gmess_service.js"></script>
<script type="text/javascript" src="{$docroot}public/static/script/admin/service/rebate_service.js"></script>
<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</html>